@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Poiret+One&display=swap');

h3, h1, h5, h6, p, a {
    font-family:  "Cormorant", sans-serif;

}

button {
    font-family: "Oswald", sans-serif !important;
}

.fontstyle {
    font-family: "Oswald", sans-serif !important;
    font-size: 15px !important;
}

.fontstyle2 {
    font-family:  "Cormorant", sans-serif;

}

/* fish.module.css */
.fish-default {
    width: 80px;
    overflow: hidden;
}
  
.fish-small {
    width: 100px;
    overflow: hidden;
}
  
.fish-medium {
    width: 120px;
    overflow: hidden;
}
  
.fish-large {
    width: 150px;
    overflow: hidden;
}

.sökbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px !important;
  height: 40px;
  width: 80px;
  border: 1px solid white !important;
  background-color: rgba(29, 78, 45, 0.616) !important;
}

.resetbtn {
    font-size: 15px !important;
    border: 1px solid white !important;
    background-color: rgba(29, 78, 45, 0.616) !important;
}

.sökbtn2 {
  font-size: 15px !important;
  border: 1px solid white !important;
  background-color:   rgba(29, 78, 45, 0.616) !important;
  margin-top: 10px;
}

.pratbubbla {
    position: relative;
    display: flex;          
    justify-content: center; 
    align-items: center;  
    flex-direction: column;  
    background-color: #125c5e92;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    max-width: 150px;
   
}

.pratbubbla::after {
    content: '';
    position: absolute;
    top: 0; /* Position at the bottom of the bubble */
    left: 50%; /* Start at the horizontal center of the bubble */
    border-width: 10px; /* Size of the tail */
    border-style: solid;
    /* border: 1px solid white; */
    border-color: transparent transparent white transparent;
    /* Adjust the border color to match the bubble's background */
    transform: translateX(-70%) translateY(-99%);
    /* Center the tail and move it down so it's just outside the bubble */
}

.postmessage {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    overflow-wrap: break-word;
    font-size: 15px !important;
   
}


.gillameddelande {
    color: #125c5e;
    background-color: #f3af48d3;
    font-size: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    position: absolute;
    top: 0;
    z-index: 1000; 

}

.filtermessage {
    padding: 10px;
    border-radius: 5px;
    background-color: #125c5e92;
    color: white;
}

@media (max-width: 768px) {

    .sökbtn {
        /* Dölj fiskbilden på små enheter */
        margin: 10px;
    }

    .fontstyle {
        font-size: 10px !important;
    }
    
  
  }