/* fish.module.css */
.fish-default {
    width: 50px;
    overflow: hidden;
}
  
.fish-small {
    width: 80px;
    overflow: hidden;
}
  
.fish-medium {
    width: 120px;
    overflow: hidden;
}
  
.fish-large {
    width: 180px;
    overflow: hidden;
}

/* .fish-tank {
    position: relative;
    width: 100%;

} */

/* klsssen sätts i fish.js */
/* .fish {
    position: absolute;
    
}  */