@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Poiret+One&display=swap');

.heading {
    background-color: #599392a8;
    padding: 10px;
    color: white;
    font-weight: 800;
   
}

h1 {
    font-family:  "Cormorant", sans-serif !important;
}


.fishInfo {
    background-color: #f8f9fa; 
    border-radius: 4px; 
    padding: 1rem; 
    box-shadow: 0 4px 8px rgb(0 0 0 / 75%); /* Skugga med svag genomskinlighet */
   
  }

.fishlistContainer {
    display: grid;
    align-items: center;
    height: 100%;
}

h2 {
    font-size: 25px !important;
}

p {
    font-size: 20px !important;
}
