.displyfish {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/* Form.module.css */
.preview-size {
    width: 200px; /* Exempel på en större storlek för förhandsvisning */
    height: auto;
  }

.formcontainer {
    background-color: #125c5e92;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid white;
    border-radius: 5px;
}


.formbtn {
    border: 1px solid white !important;
    background-color:  rgba(21, 56, 32, 0.616) !important;
    /* margin-top: 10px; */
  }


.signinform {
  background-color: rgba(21, 56, 32, 0.616);
  padding: 30px;
  margin-top: 30px;
  /* width: 50%; */
}