.Navbar {
    background-color: white !important;
}

/* a.nav-link { */
    /* color: white !important; */
/* } */

.navbar-toggler {
    background-color: white !important;
}

.customnavlink {
    color: white !important;
}
