.Navbar {
    background-color: white !important;

}

nav {
    margin-left: 15px;

}

.customNavbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin-left: 20px;
   
}

/* .nav-link {
    font-size: 100px;

} */

/* .navbar-toggler {
    background-color: white !important;
    padding-left: 20px;
} */

.customnavlink {
    /* border: 1px solid white !important; */
    color: white !important;
    border-radius: 5px !important;
    padding: 8px !important;
    /* background-color: rgb(163 162 125) !important; */
    background-color: rgb(136 134 84 / 88%) !important;
    font-weight: 800 !important;

    /* font-family: "Oswald", sans-serif !important; */
}

.customnavlink:hover {
    background-color: rgb(95 147 145) !important;

}

/* .navbarcollapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #125c5e92 !important;
    border: 1px solid white;
    /* width: 50%; */
    /* margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px; */
/* }  */