.Navbar {
    background-color: white !important;
}

nav {
    margin-left: 20px;

}

.nav-link {
    font-size: 100px;

}

.navbar-toggler {
    background-color: white !important;
    padding-left: 20px;
}

.customnavlink {
    color: white !important;
}

.navbarcollapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #125c5e92 !important;
    border: 1px solid white;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
}